{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'empleado/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 5%;">Nro</th>
        <th scope="col" style="width: 25%;">Nombre</th>
        <th scope="col" style="width: 25%;">Apellidos</th>
        <th scope="col" style="width: 10%;">DNI</th>
        <th scope="col" style="width: 15%;">Puesto</th>
        <th scope="col" style="width: 10%;">Área</th>
        <th scope="col" style="width: 10%;">Opciones</th>
    </tr>
{% endblock %}

{% block javascript %}

{% endblock %}
