{#{% extends 'form.html' %}#}
{#{% extends 'list.html' %}#}
{#{% load widget_tweaks %}#}
{#{% load static %}#}
{#{% block head_list %}#}
{##}
{#    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"#}
{#          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">#}
{#    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"#}
{#            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"#}
{#            crossorigin="anonymous"></script>#}
{#    <script src="{% static 'pago/js/form.js' %}"></script>#}
{#    <script src="{% static 'detpago/js/form.js' %}"></script>#}
{#{% endblock %}#}
{##}
{#{% block content %}#}
    {#    <form method="post" action="." enctype="multipart/form-data">#}
    {#        <div class="card card-primary">#}
    {#            <div class="card-header">#}
    {#                <h3 class="card-title">#}
    {#                    {% if action == 'add' %}#}
    {#                        <i class="fas fa-plus"></i>#}
    {#                    {% else %}#}
    {#                        <i class="fas fa-edit"></i>#}
    {#                    {% endif %}#}
    {##}
    {#                    {{ title }}#}
    {#                </h3>#}
    {#            </div>#}
    {#            <div class="card-body">#}
    {#                {% csrf_token %}#}
    {#                <!-- Modal -->#}
    {#                <div class="modal fade" id="myModalDetpago" tabindex="-1" role="dialog"#}
    {#                     aria-labelledby="exampleModalLabel"#}
    {#                     aria-hidden="true">#}
    {#                    <form method="post" action="." enctype="multipart/form-data">#}
    {#                        <div class="modal-dialog" role="document">#}
    {#                            <div class="modal-content">#}
    {#                                <div class="modal-header">#}
    {#                                    <h5 class="modal-title">#}
    {#                                        <b><i class="fas fa-search"></i> <span></span></b>#}
    {#                                    </h5>#}
    {#                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
    {#                                        <span aria-hidden="true">&times;</span>#}
    {#                                    </button>#}
    {#                                </div>#}
    {#                                <div class="modal-body">#}
    {#                                    <div class="container-fluid">#}
    {#                                        <input name="action" type="hidden" value="add">#}
    {#                                        {% for field in form.visible_fields %}#}
    {#                                            <div class="form-group">#}
    {#                                                <label for="email">{{ field.label }}:</label>#}
    {#                                                {{ field|add_class:'form-control'|attr:'autocomplete:off' }}#}
    {#                                            </div>#}
    {#                                        {% endfor %}#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                                <div class="modal-footer">#}
    {#                                    <button type="submit" class="btn btn-primary btn-flat btn-block"><i#}
    {#                                            class="fas fa-save"></i> Guardar#}
    {#                                    </button>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </form>#}
    {#                </div>#}
    {#                <a class="btn btn-success btn-flat btnAdd" style="color: white;">#}
    {#                    <i class="fas fa-plus"></i> Agregar Cuota#}
    {#                </a>#}
    {##}
    {#                <input type="hidden" name="action" value="{{ action }}">#}
    {#                {% if form.errors %}#}
    {#                    <div class="alert alert-danger alert-dismissible">#}
    {#                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>#}
    {#                        <h5><i class="icon fas fa-ban"></i> Ha ocurrido un error al querer guardar el registro</h5>#}
    {#                        <ul>#}
    {#                            {% for field in form %}#}
    {#                                {% for error in field.errors %}#}
    {#                                    <li>{{ error }}</li>#}
    {#                                {% endfor %}#}
    {#                            {% endfor %}#}
    {#                        </ul>#}
    {#                    </div>#}
    {#                {% endif %}#}
    {#                {% for field in form.visible_fields %}#}
    {#                    <div class="form-group">#}
    {#                        <label for="email">{{ field.label }}:</label>#}
    {#                        {{ field|add_class:'form-control'|attr:'autocomplete:off' }}#}
    {#                    </div>#}
    {#                {% endfor %}#}
    {#            </div>#}
    {#            <div class="card-footer">#}
    {#                <button type="submit" class="btn btn-primary btn-flat">#}
    {#                    <i class="fas fa-save"></i> Guardar registro#}
    {#                </button>#}
    {#                <a href="{{ list_url }}" class="btn btn-danger btn-flat">#}
    {#                    <i class="fas fa-times"></i> Cancelar#}
    {#                </a>#}
    {#            </div>#}
    {#        </div>#}
    {#    </form>#}
    {#    <div class="modal fade" id="myModalDetpago" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"#}
    {#         method="POST">#}
    {#        {% csrf_token %}#}
    {#        <div class="modal-dialog">#}
    {#            <div class="modal-content">#}
    {#                <div class="modal-header">#}
    {#                    <h5 class="modal-title" id="myModalLabel">Agregar cuotas</h5>#}
    {#                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>#}
    {#                </div>#}
    {#                <div class="modal-body">#}
    {#                    <form method="post" action="." enctype="multipart/form-data">#}
    {#                        <div class="modal-dialog" role="document">#}
    {#                            <div class="modal-content">#}
    {#                                <div class="modal-header">#}
    {#                                    <h5 class="modal-title">#}
    {#                                        <b><i class="fas fa-search"></i> <span></span></b>#}
    {#                                    </h5>#}
    {#                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
    {#                                        <span aria-hidden="true">&times;</span>#}
    {#                                    </button>#}
    {#                                </div>#}
    {#                                <div class="modal-body">#}
    {#                                    <div class="container-fluid">#}
    {#                                        <input name="action" type="hidden" value="add">#}
    {#                                        {% for field in form.visible_fields %}#}
    {#                                            <div class="form-group">#}
    {#                                                <label for="email">{{ field.label }}:</label>#}
    {#                                                {{ field|add_class:'form-control'|attr:'autocomplete:off' }}#}
    {#                                            </div>#}
    {#                                        {% endfor %}#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                                <div class="modal-footer">#}
    {#                                    <button type="submit" class="btn btn-primary btn-flat btn-block"><i#}
    {#                                            class="fas fa-save"></i>#}
    {#                                        Guardar#}
    {#                                    </button>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                        <div class="mb-3">#}
    {#                            <label for="recipient-name" class="col-form-label">Nro Cuota:</label>#}
    {#                            <input type="text" class="form-control" id="recipient-name">#}
    {#                        </div>#}
    {#                        <div class="mb-3">#}
    {#                            <label for="recipient-name" class="col-form-label">Fecha de Pago:</label>#}
    {#                            <input type="text" class="form-control" id="recipient-name">#}
    {#                        </div>#}
    {#                        <div class="mb-3">#}
    {#                            <label for="message-text" class="col-form-label">Monto:</label>#}
    {#                            <input type="text" class="form-control" id="recipient-name">#}
    {#                        </div>#}
    {#                        <div class="mb-3">#}
    {#                            <label for="message-text" class="col-form-label">Saldo:</label>#}
    {#                            <input type="text" class="form-control" id="recipient-name">#}
    {#                        </div>#}
    {#                        <div class="mb-3">#}
    {#                            <label for="message-text" class="col-form-label">Estado:</label>#}
    {#                            <input type="text" class="form-control" id="recipient-name">#}
    {#                        </div>#}
    {#                    </form>#}
    {#                </div>#}
    {#                <div class="modal-footer">#}
    {#                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>#}
    {#                    <button type="submit" class="btn btn-primary">Guardar</button>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
{#    <form method="post">#}
{#        <div class="card card-primary">#}
{#            <div class="card-header">#}
{#                <h3 class="card-title">#}
{#                    {% if action == 'add' %}#}
{#                        <i class="fas fa-plus"></i>#}
{#                    {% else %}#}
{#                        <i class="fas fa-edit"></i>#}
{#                    {% endif %}#}
{#                    {{ title }}#}
{#                </h3>#}
{#            </div>#}
{#            <div class="card-body">#}
{#                <div class="row">#}
{#                    <div class="col-lg-12">#}
{#                        <div class="card card-secondary">#}
{#                            <div class="card-header">#}
{#                                <h3 class="card-title"><i class="fas fa-shopping-cart"></i> Datos de Pago</h3>#}
{#                            </div>#}
{#                            <div class="card-body">#}
{#                                {% csrf_token %}#}
{#                                <input type="hidden" name="action" value="{{ action }}">#}
{#                                {% for field in form.visible_fields %}#}
{#                                    <div class="form-group">#}
{#                                        <label for="email">{{ field.label }}:</label>#}
{#                                        {{ field|add_class:'form-control'|attr:'autocomplete:off' }}#}
{#                                    </div>#}
{#                                {% endfor %}#}
{#                                <div class="form-group">#}
{#                                    <label>Cliente:</label>#}
{#                                    <input type="hidden" name="action" value="{{ action }}">#}
{#                                    {{ form.cliente }}#}
{#                                </div>#}
{#                                <div class="form-group">#}
{#                                    <label>Proyecto:</label>#}
{#                                    {{ form.proyecto }}#}
{#                                </div>#}
{#                                <div class="form-group">#}
{#                                    <label>Precio:</label>#}
{#                                    <input type="text" class="form-control" readonly name="ivacalc" value="0.00">#}
{#                                </div>#}
{#                                <div class="form-group">#}
{#                                    <label>Inicial:</label>#}
{#                                    <input type="text" class="form-control" readonly name="ivacalc" value="0.00">#}
{#                                </div>#}
{#                                <div class="form-group">#}
{#                                    <label>Monto a Fraccionar:</label>#}
{#                                    <input type="text" class="form-control" readonly name="ivacalc" value="0.00">#}
{#                                </div>#}
{#                                <div class="form-group">#}
{#                                    <label>Plazo:</label>#}
{#                                    <input type="text" class="form-control" readonly name="ivacalc">#}
{#                                </div>#}
{#                                <div class="form-group">#}
{#                                    <label>Interés:</label>#}
{#                                    <input type="text" class="form-control" readonly name="ivacalc">#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-lg-12">#}
{#                        <div class="card card-secondary">#}
{#                            <div class="card-header">#}
{#                                <h3 class="card-title"><i class="fas fa-boxes"></i> Detalle de Pago</h3>#}
{#                            </div>#}
{#                            <div class="card-body">#}
{#                                <div class="form-group">#}
{#                                    <button type="button" class="btn btn-success btnAddDetpago" data-bs-toggle="modal"#}
{#                                            data-bs-target="#exampleModal"#}
{#                                            data-bs-whatever="@mdo">Agregar Cuota#}
{#                                    </button>#}
{#                                    <button class="btn btn-success btn-flat btnAddDetpago" type="button">#}
{#                                        Agregar Cuota#}
{#                                    </button>#}
                                    {#                                    <a class="btn btn-success btn-flat btnAdd" style="color: white;">#}
                                    {#                                        <i class="fas fa-plus"></i> Agregar Cuota#}
                                    {#                                    </a>#}
                                    {#                                    <label>Buscador de productos:</label>#}
                                    {#                                    <div class="input-group">#}
                                    {#                                        <select class="form-control select2" style="width: 100%;" name="search">#}
                                    {#                                        </select>#}
                                    {#                                    </div>#}
{#                                </div>#}
                                {#                                <hr>#}
                                {#                                <button type="button" class="btn btn-danger btn-xs btn-flat btnRemoveAll">#}
                                {#                                    <i class="fas fa-trash"></i> Eliminar todos mis items#}
                                {#                                </button>#}
                                {#                                <hr>#}
{#                                <table class="table table-bordered" id="tblDetpago">#}
{#                                    <thead>#}
{#                                    <tr>#}
{#                                        <th>Eliminar</th>#}
{#                                        <th>Nro</th>#}
{#                                        <th>Fecha Pago</th>#}
{#                                        <th>Monto</th>#}
{#                                        <th>Saldo</th>#}
{#                                        <th>Estado</th>#}
{#                                    </tr>#}
{#                                    </thead>#}
{#                                    <tbody>#}
{#                                    </tbody>#}
{#                                </table>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="card-footer">#}
{#                <button type="submit" class="btn btn-primary">#}
{#                    <i class="fas fa-save"></i> Guardar registro#}
{#                </button>#}
{#                <a href="{{ list_url }}" class="btn btn-danger">#}
{#                    <i class="fas fa-times"></i> Cancelar#}
{#                </a>#}
{#            </div>#}
{#        </div>#}
{#    </form>#}
{##}
{#    <!-- Modal -->#}
{#    <div class="modal fade" id="myModalDetpago" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">#}
{#        <div class="modal-dialog">#}
{#            <div class="modal-content">#}
{#                <div class="modal-header">#}
{#                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>#}
{#                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>#}
{#                </div>#}
{#                <div class="modal-body">#}
{#                    ...#}
{#                </div>#}
{#                <div class="modal-footer">#}
{#                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>#}
{#                    <button type="button" class="btn btn-primary">Save changes</button>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <!-- Modal -->#}
{#    <div class="modal fade" id="myModalDetpago" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"#}
{#         aria-hidden="true">#}
{#        <form id="frmDetpago" enctype="multipart/form-data" method="post">#}
{#            <div class="modal-dialog" role="document">#}
{#                <div class="modal-content">#}
{#                    <div class="modal-header">#}
{#                        <h5 class="modal-title" id="exampleModalLabel">#}
{#                            <b><i class="fas fa-user-plus"></i> Nuevo cuota</b>#}
{#                        </h5>#}
{#                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                            <span aria-hidden="true">&times;</span>#}
{#                        </button>#}
{#                    </div>#}
{#                    <div class="modal-body">#}
{#                        {% for field in frmDetpago.visible_fields %}#}
{#                            <div class="form-group">#}
{#                                <label for="email">{{ field.label }}:</label>#}
{#                                {{ field|add_class:'form-control'|attr:'autocomplete:off' }}#}
{#                            </div>#}
{#                        {% endfor %}#}
{#                    </div>#}
{#                    <div class="modal-footer">#}
{#                        <button type="submit" class="btn btn-primary btn-block btn-flat">#}
{#                            <i class="fas fa-save"></i> Guardar Cliente#}
{#                        </button>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </form>#}
{#    </div>#}
    {#        <script>#}
    {#            vents.items.products = {{ det|safe }};#}
    {#            // Se removio el vents.list(); para calcular bien el iva en el editar. Revisar al final del archivo form.js se lo puso.#}
    {#        </script>#}
{#    <script>#}
{#        {% if form.errors %}#}
{#            var errors = '';#}
{#            {% for field in form %}#}
{#                {% for error in field.errors %}#}
{#                    errors += '{{ error }}\n';#}
{#                {% endfor %}#}
{#            {% endfor %}#}
{#            {% for error in form.non_field_errors %}#}
{#                errors += '{{ error }}\n';#}
{#            {% endfor %}#}
{#            Swal.fire({#}
{#                title: 'Error!',#}
{#                text: errors,#}
{#                icon: 'error'#}
{#            });#}
{#        {% endif %}#}
{##}
{#        $('form').on('submit', function (e) {#}
{#            e.preventDefault();#}
{#            var parameters = new FormData(this);#}
{#            submit_with_ajax(window.location.pathname, 'Notificación', '¿Estas seguro de realizar la siguiente acción?', parameters, function () {#}
{#                location.href = '{{ list_url }}';#}
{#            });#}
{#        });#}
{#    </script>#}
{#{% endblock %}#}