{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'asistencia/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 10%;">Nro</th>
        <th scope="col" style="width: 30%;">Empleado</th>
        <th scope="col" style="width: 25%;">Hora Ingreso</th>
        <th scope="col" style="width: 25%;">Hora Salida</th>
        <th scope="col" style="width: 10%;">Opciones</th>
    </tr>
{% endblock %}

{% block javascript %}

{% endblock %}
