{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'reserva/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 10%;">Nro</th>
        <th scope="col" style="width: 20%;">Cliente</th>
        <th scope="col" style="width: 20%;">Proyecto</th>
        <th scope="col" style="width: 20%;">Nro Voucher</th>
        <th scope="col" style="width: 20%;">Imagen</th>
        <th scope="col" style="width: 10%;">Opciones</th>
    </tr>
{% endblock %}

{% block javascript %}

{% endblock %}
