{% load static %}
<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <li class="nav-item menu-open">
        <a href="#" class="nav-link active">
            <img src="{% static 'img/configuracion.png' %}" width="30" height="30"/>
            {#                        <img src="{% static 'img/icon_config.png' %}" width="30" height="30"/>#}
            <p>
                Configuración
                <i class="fas fa-angle-left right"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <p style="color: gold">RR.HH</p>
                    <i class="fas fa-angle-left right"></i>
                </a>
                <ul class="nav nav-treeview" style="display: block;">
                    <li class="nav-item">
                        <a href="{% url 'erp:area_list' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Área</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'erp:puesto_list' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Puesto</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'erp:empleado_list' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Personal</p>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <p style="color: gold">Locación</p>
                    <i class="fas fa-angle-left right"></i>
                </a>
                <ul class="nav nav-treeview" style="display: block;">
                    <li class="nav-item">
                        <a href="{% url 'erp:departamento_list' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Departamento</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'erp:provincia_list' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Provincia</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'erp:distrito_list' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Distrito</p>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>