{% load static %}
<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <li class="nav-item menu-open">
        <a href="#" class="nav-link active">
            {#            <img src="{% static 'img/icon_reserv.png' %}" width="30" height="30"/>#}
            <i class="nav-icon fas fa-chart-bar"></i>
            {#                        <img src="{% static 'img/icon_config.png' %}" width="30" height="30"/>#}
            <p>
                Reportes
                <i class="fas fa-angle-left right"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="{% url 'cliente_report' %}" class="nav-link">
                    {#                    <i class="nav-icon fas fa-chart-bar"></i>#}
                    <i class="far fa-circle nav-icon"></i>
                    <p>
                        Reporte Clientes
                    </p>
                </a>
            </li>
        </ul>
        <ul class="nav nav-treeview">
            <li class="nav-item">
{#                <a href="{% url 'proyecto_report' %}" class="nav-link">#}
                    {#                    <i class="nav-icon fas fa-chart-bar"></i>#}
                    <i class="far fa-circle nav-icon"></i>
                    <p>
                        Reporte Proyectos
                    </p>
                </a>
            </li>
        </ul>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="{% url 'cliente_report' %}" class="nav-link">
                    {#                    <i class="nav-icon fas fa-chart-bar"></i>#}
                    <i class="far fa-circle nav-icon"></i>
                    <p>
                        Reporte Inventario
                    </p>
                </a>
            </li>
        </ul>
    </li>
</ul>
